.container{
    display: inline-block;
    width: 40%;
    margin: 1%;
    border: 2px solid #6c7b95;
    border-radius: 1vmin;
    vertical-align: top;
}

/* bfihmbmsskq7asdbs2uovcq54bbsyvvxcva4xm3lge3gawoihm5a 